html {
	font-size: 16px;
}

a:link, a:visited {
	text-decoration: none;
	color: #fff;
}

.dossier {
	width: 300px;
	height: 600px;
	background-image: url(../img/dossier-mobile.png);
	background-repeat: no-repeat;
	background-size: contain;
	margin-top: 4em;
}

.dossier img {
	max-width: 100%;
}

.name {
	position: absolute;
	top: 5%;
	left: 5%;
}

.section {
	background-color: #fff;
	padding: 1em;
}

.section h2 {
	font-family: "Cutive Mono", monospace;
	font-size: 1.618em;
}