/* NAVIGATION MENU */

<<<<<<< HEAD
<<<<<<< HEAD
.main-nav {
	position: absolute;
	top: 0;
	right: 0;
	width: 80px;
	height: 200px;
	z-index: 150;
	background-color: $red;

	@include large-mobile {
			width: 100px;
			height: 240px;
		}
		
	@include tablet {

		}
		
	@include laptop {

		}
		
	@include desktop {

		}
		
	@include fullscreen {

		} 
}

.menu {
	padding: 0;
	font-size: 0.75em;
	list-style-type: none;
}


.main-nav li{
	padding: 1em 0.618em; 
}
=======
=======
>>>>>>> refs/remotes/origin/development
.main-nav, .main-nav-home {
	width: 100%;
	text-align: center;
}

.main-nav {
	background-color: $red;
}

.main-nav-home {
	background-color: #000;
	
	li {
		background-color: $red;
	}
}

.menu {
	@inlcude film-noir;
	font-size: 1.25em;
	list-style-type: none;
	text-transform: uppercase;
	color: #fff;
}


.main-nav li, .main-nav-home li {
	padding: 1em 0.618em; 
}
<<<<<<< HEAD
>>>>>>> refs/remotes/origin/development
=======
>>>>>>> refs/remotes/origin/development
